
header {
  position: relative;
  display: flex;
  padding: 16px 40px;

  .logo {
    flex: 0 0 auto;
  }
  .links {
    display: inline-block;
    flex: 1 1 0;
    text-align: right;

    > * {
      margin: 0 12px;
    }
  }
  .log-in-dropdown {
    display: none;

    &.show {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
    }
  }
}